This is the Template for required environment settings:

# example
R VARIABLE_NAME example_value.com
- description of the variable

# Note
"R" stands for required
"O" stands for optional settings.

# Important
Add here along with .env file.
Never commit secrets in this file.

------------------------------------------------

R ACCESS_KEY 1234567890
- aws access key

R API_VERSION 2001-01-01
- aws api version

R BUCKET_NAME test-bucket-123
- aws bucket name

R REGION us-east-1
- aws region

R SECRET_ACCESS_KEY 1234567890
- aws secret access key

R JWT_SECRET 1234567890
- jwt secret

